/* 
CSS TABLE OF CONTENTS

1.0 - Globals
2.0 - Fonts
3.0 - Resets
4.0 - Utilities
5.0 - Main
  5.1 - Desktop
    5.1.1 - Components
    5.1.2 - Header
    5.1.3 - Welcome section
    5.1.4 - About section
    5.1.5 - Service section
    5.1.6 - Prices section
    5.1.7 - Contacts section
    5.1.8 - Footer
  5.2 - Tablet
    5.1.1 - Components
    5.2.2 - Header
    5.2.3 - Welcome section
    5.2.4 - About section
    5.2.5 - Service section
    5.2.6 - Prices section
    5.2.7 - Contacts section
    5.2.8 - Footer
  5.3 - Mobile
    5.1.1 - Components
    5.3.2 - Header
    5.3.3 - Welcome section
    5.3.4 - About section
    5.3.5 - Service section
    5.3.6 - Prices section
    5.3.7 - Contacts section
    5.3.8 - Footer
*/


/* ------- 1.0 - Globals ------- */

:root {
  /* Colors */
  --clr-primary-400: hsl(0, 7%, 66%); /* #aea1a1 */
  --clr-primary-500: hsl(0, 0%, 44%); /* #717171 */
  --clr-primary-700: hsl(0, 2%, 38%); /* #636060 */
  

  --clr-accent-300: hsl(88, 61%, 75%); /* #c1e698 */
  --clr-accent-400: hsl(18, 74%, 54%); /* #e06733 */
  --clr-accent-700: hsl(97, 73%, 35%); /* #499a18 */

  --clr-neutral-100: hsl(0, 0%, 100%); /* #ffffff */
  --clr-neutral-200: hsl(110, 19%, 94%); /* #edf2ec */
  --clr-neutral-300: hsl(51, 20%, 86%); /* #e3e1d5 */
  --clr-neutral-400: hsl(109, 30%, 86%); /* d6e7d2 */
  --clr-neutral-600: hsl(120, 33%, 1%); /* #010201 */
  --clr-neutral-700: hsl(0, 0%, 0%); /* #000000 */

  /* Font families */
  --ff-primary: "Inter", sans-serif;
  --ff-secondary: "Inika", sans-serif;

  /* Font weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  /* Font sizes */
  --fs-300: 0.625rem;
  --fs-400: 0.75rem;
  --fs-500: 0.875rem;
  --fs-600: 1rem;
  --fs-700: 1.25rem;
  --fs-800: 2.5rem;
  --fs-900: 2.8125rem;
  
  /* Borders */
  --bd-block: 1px solid var(--clr-neutral-300);
  --bd-btn: solid var(--clr-accent-400);
}

/* ------- 2.0 - Fonts ------- */

@font-face {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inika"), local("Inika-Regular"),
    url(../fonts/Inika/Inika-Regular.woff2) format("woff2"),
    url(../fonts/Inika/Inika-Regular.woff) format("woff"),
    url(../fonts/Inika/Inika-Regular.ttf) format("truetype");
}

@font-face {  
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Inika"), local("Inika-Bold"),
    url(../fonts/Inika/Inika-Bold.woff2) format("woff2"),
    url(../fonts/Inika/Inika-Bold.woff) format("woff"),
    url(../fonts/Inika/Inika-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Inter"), local("Inter-Regular"), 
    url(../fonts/Inter/Inter-Light.woff2) format("woff2"),
    url(../fonts/Inter/Inika-Light.woff) format("woff"),
    url(../fonts/Inter/Inter-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter"), local("Inter-Regular"), 
    url(../fonts/Inter/Inter-Regular.woff2) format("woff2"),
    url(../fonts/Inter/Inika-Regular.woff) format("woff"),
    url(../fonts/Inter/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Inter"), local("Inter-Bold"), 
    url(../fonts/Inter/Inter-Bold.woff2) format("woff2"),
    url(../fonts/Inter/Inika-Regular.woff) format("woff"),
    url(../fonts/Inter/Inter-Bold.ttf) format("truetype");
}

/* ------- 3.0 - Resets ------- */

/* Box sizing rules */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100vh;
}

/* Set core body defaults */
body {
  font-family: var(--ff-primary), var(--ff-secondary), sans-serif;
  font-style: normal;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------- 4.0 - Utilities ------- */

.bg-neutral-200 {
  background-color: var(--clr-neutral-200);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.primary-heading {
  font: var(--fw-bold) var(--fs-900)/50px var(--ff-primary);
}

.secondary-heading {
  font: var(--fw-regular) var(--fs-800)/normal var(--ff-secondary);
}

.text-accent-400 {
  color: var(--clr-accent-400);
}

.text-accent-700 {
  color: var(--clr-accent-700);
}

/* ------- 5.0 - Main ------- */
/* ------- 5.1 - Desktop ------- */

/* ------- 5.1.1 - Components ------- */

.wrapper {
  width: 1440px;
  margin: 0 auto;
  padding: 0 109px;
}

.btn {
  width: 162px;
  height: 50px;
  font: var(--fw-regular) var(--fs-700)/normal var(--ff-secondary);
  color: var(--clr-accent-400);
  background: transparent;
  border: 1px var(--bd-btn);
  border-radius: 5px;
  cursor: pointer;
}

.btn_rounded {
  width: 158px;
  height: 44px;
  font: var(--fw-regular) var(--fs-600)/20px var(--ff-primary);
  border-width: 2px;
  border-radius: 10px;
}

.btn:hover,
.btn:active,
.btn:focus-visible {
  color: #fff;
  background-color: var(--clr-accent-400);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger__bar {
  width: 40px;
  height: 2px;
  margin: 0 auto 6px;
  background: var(--clr-primary-500);
  transition: all 0.3s ease-in-out;
}

.hamburger__bar:last-child {
  margin-bottom: 0;
}

.card {
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 450px;
  filter: blur(1.5px);
}

.card_active {
  filter: blur(0);
}

.card__img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.card__text-block {
  height: 100px;
  text-align: center;
  border: var(--bd-block);
  border-top: 0;
  border-radius: 0 0 20px 20px;
}

.card__img-text {
  margin: 10px 0 14px;
  font: var(--fw-bold) var(--fs-700)/20px var(--ff-primary);
  color: var(--clr-accent-400);
}

.card__img-description {
  font: var(--fw-regular) var(--fs-600)/20px var(--ff-primary);
  color: var(--clr-primary-500);
}

.accordion {
  width: 250px; 
  margin: 32px auto;
  border-radius: 20px;
  background: var(--clr-neutral-200);
}

.accordion_active {
  background: var(--clr-neutral-400);
}

.accordion:first-child {
  margin-top: 33px;
}

.accordion:last-child {
  margin-bottom: 33px;
}

.accordion__wrapper {
  padding: 15px 40px;
  transition: padding 0.2s;
}

.accordion_active .accordion__wrapper {
  padding: 15px 40px 12px 40px;
}

.accordion__items {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.accordion__text {
  font: var(--fw-bold) var(--fs-700)/20px var(--ff-primary);
}

.accordion__arrow {
  width: 16px;
  height: 16px;
  margin: auto 0;
  background-image: url(../images/prices/accordion_btn_down.svg);
}

.accordion_active .accordion__arrow {
  margin-top: 5px;
  background-image: url(../images/prices/accordion_btn_up.svg);
}

.accordion__content {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}

.accordion_active .accordion__content {
  display: block;
  height: auto; 
  padding-top: 16px;
}

.accordion__content::before {
  content: "";
  position: absolute;
  top: 8px;
  width: 164px;
  height: 0.5px;
  background-color: var(--clr-primary-400);
}

.accordion__description {
  margin-bottom: 6px;
  font: var(--fw-light) var(--fs-300)/10px var(--ff-primary);
  color: #717171;
}

.accordion__price {
  margin-bottom: 8px;
  font: var(--fw-regular) var(--fs-400)/20px var(--ff-primary);
  color: var(--clr-neutral-700);
}

.accordion-price_text-big {
  font-size: var(--fs-600);
}

.accordion-price_text-small {
  font-size: var(--fs-400);
}

.accordion__btn {
  width: 86px;
  height: 25px;
  padding-right: 10px;
  font: var(--fw-bold) var(--fs-500)/20px var(--ff-primary);
  color: var(--clr-primary-700); 
  border: none;
  border-radius: 10px;
  background-color: var(--clr-neutral-100);
  cursor: pointer;
}

.accordion__btn:hover {
  color: #fff;
  background-color: var(--clr-accent-400);
}

.dropdown {
  width: 450px;
  height: 50px;
  background: #D6E7D2;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.dropdown__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 35px 5px 20px;
}

.dropdown__text {
  font: 400 20px/40px "Inter";
  letter-spacing: 1px;
  color: var(--clr-primary-500);
}

.dropdown__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.dropdown-icon {
  width: 16px;
  height: 16px;
}

/* ------- 5.1.2 - Header ------- */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 42px 0;
  z-index: 1;
}

.header__wrapper {
  justify-content: space-between;
}

.header__logo-items {
  display: flex;
  margin: 10px 0 0 2px;
}

.header__logo-icon {
  width: 20px;
  height: 20px;
}

.header__logo-link {
  text-decoration: none;
}

.header__nav-text {
  margin-top: 4px;
  font: var(--fw-regular) var(--fs-600)/normal var(--ff-secondary);
}

.header__nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 452px;
}

.header__nav-link {
  font: normal var(--fw-regular) var(--fs-600)/50px var(--ff-secondary);
  color: var(--clr-neutral-600);
  text-decoration: none;
}

.header__nav-link:hover,
.header__nav-link:focus {
  font-weight: var(--fw-bold);
  color: var(--clr-accent-400);
}

/* ------- 5.1.3 - Welcome section ------- */

.welcome {
  margin-top: 134px;
  padding: 62px 0 63px;
}

.welcome__wrapper {
  justify-content: space-between;
}

.welcome__img {
  width: 449px;
  height: 407px;
  background-image: url(../images/welcome/leafs.png);
  background-size: cover;
}

.welcome__text-block {
  width: 549px;
}

.welcome__title {
  margin: 36px 0 44px;
  color: var(--clr-primary-500);
}

.welcome__text {
  margin-bottom: 48px;
  font: var(--fw-regular) var(--fs-700)/35px var(--ff-primary);
  color: var(--clr-primary-700);
}

/* ------- 5.4 - About section ------- */

.about {
  padding: 93px 0 94px;
}

.about__wrapper {
  justify-content: space-between;
}

.about__text-block {
  width: 605px;
}

.about__title {
  width: 463px;
  margin: 68px 0 38px;
  color: var(--clr-accent-400);
}

.about__text {
  font: var(--fw-regular) var(--fs-700)/30px var(--ff-primary);
  color: var(--clr-primary-700);
}

.about__img {
  width: 464px;
  height: 479px;
  background-image: url(../images/about/houseplant.png);
  background-size: cover;
  background-position: center;
}

/* ------- 5.1.5 - Service section ------- */

.service {
  padding: 40px 0 121px;
  background-color: var(--clr-neutral-200);
}

.service__wrapper {
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 55px;
  grid-column-gap: 116px;
}

.service__title {
  margin-bottom: 24px;
  color: var(--clr-accent-700);
}

.service__buttons_list {
  grid-column: span 2;
  margin-top: 27px;
}

.service__button:not(:last-child) {
  margin-right: 33px;
}

.service__buttons_list .btn_active {
  background: var(--clr-accent-400);
  color: var(--clr-neutral-100);
}

/* ------- 5.1.6 - Prices section ------- */

#prices {
  padding: 40px 0 115px;
}

.prices__wrapper {
  grid-template: 
    [row1-start] "title text" [row1-end]
    [row2-start] "accordion text" [row2-end]
    [row3-start] "accordion text" [row3-end]
    / auto auto;
  justify-content: space-between;
}

.prices__title {
  grid-area: title;
  margin-bottom: 54px;
  font-weight: 700;
  font-family: "Inter";
}

.prices__accordion-block {
  grid-area: accordion;
  width: 332px;
  height: 282px;
  border-radius: 20px;
  border: var(--bd-block);
}

.accordion-block_active  {
  height: auto;
}

.prices__text-block {
  grid-area: text;
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 452px;
}

.prices__text {
  margin-bottom: 40px;
  text-align: right;
  font: var(--fw-bold) var(--fs-800)/50px var(--ff-primary);
}

.prices__text span {
  color: var(--clr-accent-700);
}

.prices__button {
  margin-bottom: 39px;
  font-weight: var(--fw-bold);
}

.prices__img {
  width: 152px;
  height: 175px;
  background-image: url(../images/prices/leafs.png);
  background-size: cover;
}

/* ------- 5.1.7 - Contacts section ------- */

.contacts {
  padding-top: 53px;
  background: var(--clr-neutral-200);
}

.contacts__wrapper {
  justify-content: space-between;
}

.contacts__img {
  width: 400px;
  height: 497px;
  margin-right: 45px;
  background-image: url(../images/contacts/contact_woman.png);
  background-size: cover;
  background-position: bottom;
}

.contacts__title {
  margin: 7px 0 0;
  font-weight: 700;
  font-family: "Inika";
  color: var(--clr-accent-700);
}

.contacts__dropdown {
  margin-top: 95px;
}

/* ------- 5.1.8 - Footer section ------- */

.footer {
  padding: 40px 0;
}

.footer__wrapper {
  align-items: center;
  justify-content: space-between;
  font: 400 20px/50px "Inter";
}

.footer__data-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.footer__data-item:not(:last-child) {
  margin-right: 20px;
}

.footer__text {
  margin-left: 20px;
}

.footer__social-list {
  display: flex;
  align-items: center;
  line-height: normal;
  list-style: none;
}

.footer__social-item {
  width: 32px;
  height: 32px;
}

.footer__social-item:not(:last-child) {
  margin-right: 20px;
}

.footer__social-link {
  text-decoration: none;
  color: #000;
}

.footer__social-link i {
  text-align: center;
  font-size: 32px;
}

.footer__social-icon {
  width: 32px;
  height: 32px;
}

/* ------- 5.2 - Tablet ------- */

@media (min-width: 768px) and (max-width: 1439px) {

  /* ------- 5.2.1 - Components ------- */

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 35px;
  }

  .wrapper {
    width: 768px;
    padding: 0 50px;
  }

  .card {
    width: 280px;
  }
  
  .card__img-text {
    margin: 10px 0 12px;
  }
  
  .card__img-description {
    width: 201px;
    margin: 0 auto;
  }
  
  /*-------header start-------*/

  .header {
    padding: 35px 0;
  }

  .header__wrapper {
    height: 47px;
  }

  .header__logo-items {
    margin-left: 0;
  }

  /*-------header end-------*/

  /*-------welcome section start-------*/
  
  .welcome {
    margin-top: 117px;
    padding: 40px 0 70px;
  }

  .welcome__wrapper {
    flex-direction: row-reverse;
  }

  .welcome__img {
    width: 280px;
    height: 254px;
  }

  .welcome__text-block {
    width: 346px;
  }
  
  .welcome__title {
    margin: 0 0 30px;
  }
  
  .welcome__text {
    margin: 0 0 35px 5px;
    font: 400 16px/25px "Inter";
  }

  /*-------welcome section end-------*/

  /*-------about section start-------*/

  #about {
    padding: 40px 0 95px;
  }
  
  .about__wrapper {
    flex-direction: column;
    align-items: center;
  }
  
  .about__text-block {
    width: 100%;
    margin-bottom: 67px;
  }
  
  .about__title {
    width: 423px;
    margin: 0 auto 52px;
    text-align: center;
  }

  .about__img {
    width: 250px;
    height: 258px;
  }

  /*-------about section end-------*/

  /*-------service section start-------*/

  #service {
    padding: 60px 0 70px;
  }
  
  .service__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 38px;
    grid-column-gap: 107px;
  }
  
  .service__title {
    grid-column: span 2;
    margin-bottom: 5px;
  }
  
  .service__buttons_list {
    grid-column: span 2;
    margin: 0 0 2px;
  }

  /*-------service section end-------*/

  /*-------prices section start-------*/

  #prices {
    padding: 40px 0 88px;
  }
  
  .prices__wrapper {
    grid-template: 
    [row1-start] "title title" [row1-end]
    [row2-start] "accordion text" [row2-end]
    / auto auto;
    row-gap: 58px;
  }
  
  .prices__title {
    grid-area: title;
    width: 136px;
    margin: 0;
    text-align: center;
  }
  
  .prices__text-block {
    width: 296px;
  }
  
  .prices__text {
    margin-bottom: 28px;
    font: 700 25px/35px "Inter";
  }

  .prices__button {
    margin-bottom: 34px;
  }

  /*-------prices section end-------*/

  /*-------contact section start-------*/

  #contacts {
    padding-top: 40px;
  }

  .contacts__wrapper {
    flex-direction: column;
    align-items: center;
  }
  
  .contacts__img {
    order: 2;
    width: 200px;
    height: 249px;
    margin-right: 0;
    margin-left: 20px;
  }
  
  .contacts__title {  
    order: 0;
    margin: 0;
    font-size: 40px;
  }
  
  .contacts__dropdown {
    order: 1;
    margin: 98px 0 250px;
  }

  /*-------contact section end-------*/
  
  /*-------footer start-------*/

  .footer {
    padding: 33px 0 27px;
  }
  
  .footer__wrapper {
    flex-direction: column;
    line-height: normal;
  }

  .footer__data-list {
    margin-bottom: 16px;
  }

  .footer__data-item:not(:last-child) {
    margin-right: 22px;
  }

  .footer__text {
    margin-left: 0;
    margin-bottom: 25px;
  }
  
  .footer__social-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    line-height: normal;
    list-style: none;
  }
  
  .footer__social-item {
    width: 32px;
    height: 32px;
  }
  
  .footer__social-item:not(:last-child) {
    margin-right: 20px;
  }
  
  .footer__social-link {
    text-decoration: none;
  }
  
  .footer__social-link i {
    text-align: center;
    font-size: 32px;
  }
  
  .footer__social-icon {
    width: 32px;
    height: 32px;
  }

  /*-------footer end-------*/

}

/* -------tablet layout end------- */

/* ----------------------------------------- */

/* -------mobile layout start------- */

@media (max-width: 767px) {

  h1 {
    font-size: 25px;
    line-height: 35px;
  }

  h2 {
    font-size: 25px;
  }

  .wrapper {
    width: 100%;
    max-width: 380px;
    padding: 0 25px;
  }

  .btn {
    width: 121px;
    height: 35px;
    font-size: 15px;
  }
  
  .btn-rounded {
    width: 100px;
    height: 34px;
    font-size: 10px;
  }

  .hamburger {
    display: block;
  }

  .hamburger__bar {
    display: block;
  }

  .hamburger_active .hamburger__bar:nth-child(-n+3):nth-child(n+2) {
    opacity: 0;
  }

  .hamburger_active .hamburger__bar:nth-child(1) {
    transform: rotate(45deg) translateX(8px) translateY(8px); 
  }  

  .hamburger_active .hamburger__bar:nth-child(4) {
    transform: rotate(-45deg) translateX(8px) translateY(-8px); 
  }

  .card {
    width: 100%;
    max-width: 279px;
  }
  
  .card__img-text {
    margin: 10px 0 12px;
  }
  
  .card__img-description {
    width: 201px;
    margin: 0 auto;
  }

  .accordion {
    width: 180px;
    height: 50px;
    margin: 0 auto 13px;
  }
  
  .accordion:first-child {
    margin-top: 29px;
  }
  
  .accordion__items {
    padding-left: 30px;
  }
  
  .accordion__text {
    font-size: 15px;
  }

  .dropdown {
    width: 100%;
    max-width: 300px;
  }
  
  .dropdown__container {
    padding: 5px 20px;
  }

/*-------header start-------*/

  .header {
    padding: 34px 0 38px;
  }

  .header__wrapper {
    height: 24px;
  }

  .header__logo-items {
    margin-top: 2px;
    margin-left: 0;
    z-index: 1;
  }

  .header__nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 290px;
    flex-direction: column;
    background: var(--clr-neutral-200);
    transition: 0.2s ease-in-out;
  }

  .header__nav-menu.hamburger_active {
    top: 96px;
    overflow: hidden;
  }

  .header__nav-item:not(:first-child) {
    margin-left: 0;
  }

/*-------header end-------*/

/*-------welcome section start-------*/

.welcome {
  margin-top: 96px;
  padding: 24px 0;
}

.welcome__wrapper {
  flex-direction: column
}

.welcome__img {
  display: none;
}

.welcome__text-block {
  width: 100%;
}

.welcome__title {
  margin: 2px 0 20px;
}

.welcome__text {
  margin-bottom: 26px;
  font: 400 16px/25px "Inter";
}

/*-------welcome section end-------*/

/*-------about section start-------*/

#about {
  padding: 30px 0 31px;
}

.about__wrapper {
  flex-direction: column;
  align-items: center;
}

.about__text-block {
  width: 100%;
  margin-bottom: 3px;
}

.about__title {
  width: 100%;
  max-width: 288px;
  margin: 0 auto 16px;
  text-align: center;
}

.about__text {
  font-size: 15px;
  line-height: 25px;
}

.about__img {
  width: 150px;
  height: 147px;
}

/*-------about section end-------*/

/*-------service section start-------*/

#service {
  padding: 30px 0 27px;
}

.service__wrapper {
  grid-template-columns: 1fr;
  grid-row-gap: 34px;
}

.service__title {
  grid-column: span 1;
  width: 100%;
  max-width: 187px;
  margin-bottom: 6px;
}

.service__buttons_list {
  grid-column: span 1;
  margin-top: 0;
}

.service__button {
  margin-bottom: 9px;
}

.service__button:last-child {
  margin-bottom: 6px;
}

.service__button:nth-child(odd) {
  margin-right: 6px;
}

.service__card {
  margin: 0 auto;
}

/*-------service section end-------*/

/*-------prices section start-------*/

#prices {
  padding: 25px 0 40px;
}

.prices__wrapper {
  grid-template: 
  [row1-start] "title" [row1-end]
  [row2-start] "accordion" [row2-end]
  [row3-start] "text" [row3-end]
  / auto auto;
  justify-content: center;
}

.prices__title {
  grid-area: title;
  margin-bottom: 36px;
  text-align: center;
}

.prices__accordion-block {
  width: 224px;
  height: 235px;
  margin: 0 auto 20px;
}

.prices__text-block {
  align-items: center;
  width: 100%;
  max-width: 230px;
}

.prices__text {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
}

.prices__button {
  margin-bottom: 0;
}

.prices__img {
  display: none;
}

/*-------prices section end-------*/

/*-------contacts section start-------*/

#contacts {
  padding-top: 25px;
}

.contacts__wrapper {
  flex-direction: column;
  align-items: center;
}

.contacts__img {
  order: 2;
  width: 100px;
  height: 124px;
  margin-right: 0;
}

.contacts__title {  
  order: 0;
  margin: 0;
  font-size: 25px;
}

.contacts__dropdown {
  order: 1;
  margin: 82px 0 132px;
}

/*-------contacts section end-------*/

/*-------footer start-------*/

.footer {
  padding: 22px 0 16px;
}

.footer__wrapper {
  flex-direction: column;
  line-height: normal;
}

.footer__data-list {
  margin-bottom: 16px;
}

.footer__data-item:not(:last-child) {
  margin-right: 22px;
}

.footer__text {
  margin-left: 0;
  margin-bottom: 12px;
}

.footer__social-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: normal;
  list-style: none;
}

.footer__social-item {
  width: 32px;
  height: 32px;
}

.footer__social-item:not(:last-child) {
  margin-right: 20px;
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-link i {
  text-align: center;
  font-size: 32px;
}

.footer__social-icon {
  width: 32px;
  height: 32px;
}

/*-------footer end-------*/

/* -------mobile layout end------- */