:root {
  --bg-color: #edf2ec;
  --nav-color: #010201;
  --primary-light-color: #499a18;
  --primary-dark-color: #e06733;
  --secondary-light-color: #717171;
  --secondary-dark-color: #636060;
  --border-color: #e3e1d5;
  --accordion-color: #d6e7d2;
  --btn-bg-color: rgba(224, 103, 51, 0);

  --block-border: 1px solid var(--border-color);
  --btn-border: solid var(--primary-dark-color);
}

@font-face {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inika"), local("Inika-Regular"),
    url(../fonts/Inika/Inika-Regular.woff2) format("woff2"),
    url(../fonts/Inika/Inika-Regular.woff) format("woff"),
    url(../fonts/Inika/Inika-Regular.ttf) format("truetype");
}

@font-face {  
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Inika"), local("Inika-Bold"),
    url(../fonts/Inika/Inika-Bold.woff2) format("woff2"),
    url(../fonts/Inika/Inika-Bold.woff) format("woff"),
    url(../fonts/Inika/Inika-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter"), local("Inter-Regular"), 
    url(../fonts/Inter/Inter-Regular.woff2) format("woff2"),
    url(../fonts/Inter/Inika-Regular.woff) format("woff"),
    url(../fonts/Inter/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Inter"), local("Inter-Bold"), 
    url(../fonts/Inter/Inter-Bold.woff2) format("woff2"),
    url(../fonts/Inter/Inika-Regular.woff) format("woff"),
    url(../fonts/Inter/Inter-Bold.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Inika", "Inter", sans-serif;
  font-style: normal;
}

/* ----------------------------------------- */

/* -------desktop layout start------- */

h1 {
  font: 700 45px/50px "Inter";
}

h2 {
  font: 400 40px/normal "Inika";
}


.wrapper {
  width: 1440px;
  margin: 0 auto;
  padding: 0 109px;
}

.wrapper_display-flex {
  display: flex;
  flex-wrap: wrap;
}

.wrapper_display-grid {
  display: grid;
}

.btn {
  width: 162px;
  height: 50px;
  border-radius: 5px;
  border: 1px var(--btn-border);
  background: transparent;
  font: 400 20px/normal "Inika"; 
  color: var(--primary-dark-color);
  cursor: pointer;
}

.btn-rounded {
  width: 158px;
  height: 44px;
  border-radius: 10px;
  border: 2px var(--btn-border);
  background-color: var(--btn-bg-color);
  font: 400 16px/20px "Inter";
  line-height: 20px;
  color: #000;
  cursor: pointer;
}

.btn:hover,
.btn-rounded:hover,
.btn:focus-visible,
.btn-rounded:focus-visible {
  background-color: var(--primary-dark-color);
  color: #fff;
}


.card {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 450px;
  /* filter: blur(1.5px); */
}


.card_enabled {
  filter: blur(0);
}

.card__img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.card__text-block {
  height: 100px;
  border: var(--block-border);
  border-top: 0;
  border-radius: 0 0 20px 20px;
  text-align: center;
}

.card__img-text {
  margin: 10px 0 14px;
  font: 700 20px/20px "Inter";
  color: var(--primary-dark-color);
}

.card__img-description {
  margin: 0;
  font: 400 16px/20px "Inter";
  color: var(--secondary-light-color);
}

.accordion {
  width: 250px;
  height: 50px;
  border-radius: 20px;
  background: var(--bg-color);
  margin: 0 41px 32px;
}

.accordion:first-child {
  margin-top: 34px;
}

.accordion:last-child {
  margin-bottom: 34px;
}

.accordion__container {
  padding: 16px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion__text {
  width: 100px;
  font: 700 20px/20px "Inter";
  color: #000;
}

.accordion__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.accordion__icon {
  width: 16px;
  height: 16px;
}

.dropdown {
  width: 450px;
  height: 50px;
  background: #D6E7D2;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.dropdown__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 35px 5px 20px;
}

.dropdown__text {
  width: 204px;
  font: 400 20px/40px "Inter";
  letter-spacing: 1px;
  color: var(--secondary-light-color);
}

.dropdown__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.dropdown-icon {
  width: 16px;
  height: 16px;
}

/*-------header start-------*/

.header {
  padding: 42px 0;
  background-color: var(--bg-color);
}

.header__wrapper {
  justify-content: space-between;
}

.header__logo-items {
  display: flex;
  margin: 10px 0 0 2px;
}

.header__logo {
  display: inline-block;
}

.header__logo-link {
  text-decoration: none;
}

.header__nav-text {
  margin-top: 4px;
  font: 400 16px/normal "Inika";
  color: #000;
}

.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 452px;
  list-style: none;
}

.header__nav-item:not(:first-child) {
  margin-left: 46px;
}

.header__nav-link {
  font: normal 400 16px/50px "Inika";
  color: var(--nav-color);
  text-decoration: none;
}

.header__nav-link_active {
  font-weight: 700;
  color: var(--primary-dark-color);
}

.header__logo-icon {
  width: 20px;
  height: 20px;
}

/*-------header end-------*/

/*-------welcome section start-------*/

.welcome {
  padding: 62px 0 63px;
  background-color: var(--bg-color);
}

.welcome__wrapper {
  justify-content: space-between;
}

.welcome__img {
  width: 449px;
  height: 407px;
  background-image: url(../images/welcome/leafs.png);
  background-size: cover;
}

.welcome__text-block {
  width: 549px;
}

.welcome__title {
  margin: 36px 0 44px;
  color: var(--secondary-light-color);
}

.welcome__title span {
  color: var(--primary-light-color);
}

.welcome__text {
  margin-bottom: 48px;
  font: 400 20px/35px "Inter";
  color: var(--secondary-dark-color);
}

/*-------welcome section end-------*/

/*-------about section start-------*/

#about {
  padding: 93px 0 94px;
}

.about__wrapper {
  justify-content: space-between;
}

.about__text-block {
  width: 605px;
}

.about__title {
  width: 463px;
  margin: 68px 0 38px;
  color: var(--primary-dark-color);
}

.about__title span {
  color: var(--primary-light-color);
}

.about__text {
  font: 400 20px/30px "Inter";
  color: var(--secondary-dark-color);
}

.about__img {
  width: 464px;
  height: 479px;
  background-image: url(../images/about/houseplant.png);
  background-size: cover;
}

/*-------about section end-------*/

/*-------service section start-------*/

#service {
  padding: 40px 0 121px;
  background-color: var(--bg-color);
}

.service__wrapper {
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 55px;
  grid-column-gap: 116px;
}

.service__title {
  display: inline-block;
  width: 306px;
  margin: 0 0 24px;
  color: var(--primary-light-color);
}

.service__buttons_list {
  grid-column: span 2;
  margin-top: 27px;
}

.service__button:not(:last-child) {
  margin-right: 33px;
}

.service__buttons_list .button_active {
  background: var(--primary-dark-color);
  color: #fff;
}

/*-------service section end-------*/

/*-------prices section start-------*/

#prices {
  padding: 40px 0 115px;
}

.prices__wrapper {
  grid-template: 
    [row1-start] "title text" [row1-end]
    [row2-start] "accordion text" [row2-end]
    [row3-start] "accordion text" [row3-end]
    / auto auto;
  justify-content: space-between;
}

.prices__title {
  grid-area: title;
  margin: 0 0 54px;
  font-weight: 700;
  font-family: "Inter";
  color: #000;
}

.prices__accordion-block {
  grid-area: accordion;
  width: 332px;
  height: 282px;
  border-radius: 20px;
  border: var(--block-border);
}

.prices__text-block {
  grid-area: text;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: end;
  width: 452px;
}

.prices__text {
  margin-bottom: 40px;
  text-align: right;
  font: 700 40px/50px "Inter";
  color: #000;
}

.prices__text span {
  color: var(--primary-light-color);
}

.prices__button {
  margin-bottom: 39px;
  font-weight: 700;
}

.prices__img {
  width: 152px;
  height: 175px;
  background-image: url(../images/prices/leafs.png);
  background-size: cover;
}

/*-------prices section end-------*/

/*-------contacts section start-------*/

#contacts {
  background: var(--bg-color);
}

.contacts__wrapper {
  justify-content: space-between;
  padding-top: 53px;
}

.contacts__img {
  width: 400px;
  height: 497px;
  margin-right: 45px;
  background-image: url(../images/contacts/contact_woman.png);
  background-size: cover;
  background-position: bottom;
}

.contacts__title {
  margin: 8px 0 0;
  font-weight: 700;
  font-family: "Inika";
  color: var(--primary-light-color);
}

.contacts__dropdown {
  margin-top: 95px;
}

/*-------contacts section end-------*/

/*-------footer start-------*/

.footer {
  padding: 40px 0;
}

.footer__wrapper {
  align-items: center;
  justify-content: space-between;
  font: 400 20px/50px "Inter";
}

.footer__data-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__data-item {
  margin-right: 20px;
  color: #000;
}

.footer__social-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: normal;
  list-style: none;
}

.footer__social-item {
  width: 32px;
  height: 32px;
}

.footer__social-item:not(:last-child) {
  margin-right: 20px;
}

.footer__social-link {
  text-decoration: none;
  color: #000;
}

.footer__social-link i {
  text-align: center;
  font-size: 32px;
}

.footer__social-icon {
  width: 32px;
  height: 32px;
}

/*-------footer end-------*/

/* -------device layout end------- */

/* ----------------------------------------- */

/* -------tablet layout start------- */

@media (min-width: 768px) and (max-width: 1439px) {
 
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 35px;
  }

  .wrapper {
    width: 768px;
    padding: 0 50px;
  }
  
  .dropdown {
    width: 450px;
    height: 50px;
  }
  
  .dropdown__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 35px 5px 20px;
  }
  
  .dropdown__text {
    width: 204px;
    font: 400 20px/40px "Inter";
    letter-spacing: 1px;
  }
  
  .dropdown__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
  }
  
  .dropdown-icon {
    width: 16px;
    height: 16px;
  }

  /*-------header start-------*/

  .header {
    padding: 35px 0;
  }

  .header__wrapper {
    height: 47px;
  }

  .header__logo-items {
    margin-left: 0;
  }

  /*-------header end-------*/

  /*-------welcome section start-------*/
  
  .welcome {
    padding: 40px 0 70px;
  }

  .welcome__wrapper {
    flex-direction: row-reverse;
  }

  .welcome__img {
    width: 280px;
    height: 254px;
  }

  .welcome__text-block {
    width: 346px;
  }
  
  .welcome__title {
    margin: 0 0 30px;
  }
  
  .welcome__text {
    margin: 0 0 35px 5px;
    font: 400 16px/25px "Inter";
  }

  /*-------welcome section end-------*/

  /*-------about section start-------*/

  #about {
    padding: 40px 0 95px;
  }
  
  .about__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .about__text-block {
    width: 100%;
    margin-bottom: 67px;
  }
  
  .about__title {
    width: 423px;
    margin: 0 auto 52px;
    text-align: center;
  }

  .about__img {
    width: 250px;
    height: 258px;
  }

  /*-------about section end-------*/

  /*-------service section start-------*/

  #service {
    padding: 60px 0 70px;
  }
  
  .service__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 38px;
    grid-column-gap: 107px;
  }
  
  .service__title {
    display: block;
    grid-column: span 2;
    margin: 0 0 5px;
  }
  
  .service__buttons_list {
    grid-column: span 2;
    margin: 0 0 2px;
  }
  
  .service__button:last-child {
    margin-right: 0;
  }

  /*-------service section end-------*/

  /*-------prices section start-------*/

  #prices {
    padding: 40px 0 88px;
  }
  
  .prices__wrapper {
    grid-template: 
    [row1-start] "title title" [row1-end]
    [row2-start] "accordion text" [row2-end]
    / auto auto;
    row-gap: 58px;
  }
  
  .prices__title {
    grid-area: title;
    width: 136px;
    margin: 0;
    text-align: center;
  }
  
  .prices__text-block {
    width: 296px;
  }
  
  .prices__text {
    margin-bottom: 28px;
    font: 700 25px/35px "Inter";
  }

  .prices__button {
    margin-bottom: 34px;
  }

  /*-------prices section end-------*/

}